body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #182a30;
    color: white;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #182a30;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182a30;
}

.hero h1 {
    font-size: 3rem;
    color: #54defe;
}

.hero p {
    font-size: 1.2rem;
    color: white;
}

.cta-btn {
    padding: 10px 20px;
    background-color: #54defe;
    color: #182a30;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: #3db0d4;
}

footer {
    background-color: #182a30;
    text-align: center;
    padding: 20px;
}

a {
    width: 30%;
    margin-right: 5px;
    margin-bottom: 10px;
    height: auto;
}
img {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 10px;
    height: auto;
}

@media (max-width: 950px) {
    img {
        width: 90%;
    }
}
